<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit {{ movie?.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-movie"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="movie-container" *ngIf="movie">
    <form class="inner-container" [formGroup]="movieForm">
      <!-- Kolom Kiri: Upload Poster -->
      <div class="left-column">
        <!-- Poster Desktop -->
        <div class="img-upload-wrapper">
          <h3>Poster Desktop</h3>
          <img [src]="posterPreviewDesktop || getPosterPath(movie?.poster)" alt="Poster Desktop" class="upload-img" (click)="desktopInput.click()" />
          <input type="file" accept="image/*" hidden #desktopInput (change)="onDesktopImageSelected($event)" />
        </div>

        <!-- Poster Mobile -->
        <div class="img-upload-wrapper">
          <h3>Poster Mobile</h3>
          <img [src]="posterPreviewMobile || movie?.poster" alt="Poster Mobile" class="upload-img" (click)="mobileInput.click()" />
          <input type="file" accept="image/*" hidden #mobileInput (change)="onMobileImageSelected($event)" />
        </div>
      </div>

      <!-- Kolom Kanan: Movie Information -->
      <div class="movie-info">
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Genre</ion-label>
          <ion-input formControlName="genre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Release Date</ion-label>
          <ion-datetime presentation="date" formControlName="releaseDate"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Average Rating</ion-label>
          <ion-input type="number" formControlName="averageRating"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Director</ion-label>
          <ion-input formControlName="director"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Synopsis</ion-label>
          <ion-textarea formControlName="synopsis"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Trailer</ion-label>
          <ion-textarea formControlName="trailer"></ion-textarea>
        </ion-item>

        <ion-list formArrayName="casting">
          <ion-item-divider color="light">Casting</ion-item-divider>

          <div
            *ngFor="let cast of casting.controls; let i = index"
            [formGroupName]="i"
          >
            <ion-item>
              <ion-label position="floating">Actor Name</ion-label>
              <ion-input formControlName="actor_name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Role</ion-label>
              <ion-input formControlName="role"></ion-input>
            </ion-item>

             <ion-item>
              <ion-label position="floating">Image URL</ion-label>
              <ion-input formControlName="image"></ion-input>
            </ion-item>

            <ion-button
              color="danger"
              expand="block"
              (click)="removeCasting(i)"
              *ngIf="casting.length > 1"
              style="padding: 10px;"
              >Remove</ion-button
            >
          </div>

          <ion-button expand="block" (click)="addCasting()" style="padding: 10px;"
            >+ Add More Casting</ion-button
          >
        </ion-list>

        <ion-button expand="block" color="success" (click)="saveMovie()">Save Changes</ion-button>
      </div>
    </form>

  </div>
</ion-content>
