<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>manage-movie</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-movie">
        <ion-icon name="add-circle-outline"></ion-icon>
        Tambah Movie
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="movie-grid">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let movie of movies">
        <ion-card>
          <img [src]="movie.poster.replace('mobile', 'desktop')" [alt]="movie.title" />
          <ion-card-header>
            <ion-card-title>{{ movie.title }}</ion-card-title>
            <ion-card-subtitle>{{ movie.genre }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Rilis:</strong> {{ movie.releaseDate }}</p>
            <p><strong>Rating:</strong> ⭐ {{ movie.averageRating || 'Belum ada' }}</p>
          </ion-card-content>
          <ion-button expand="block" fill="outline" color="primary" (click)="editMovie(movie.id)">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Edit
          </ion-button>
          <ion-button expand="block" fill="outline" color="danger" (click)="deleteMovie(movie.id)">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Hapus
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>