<ion-header [translucent]="true" class="custom-header" style="display: none;">
  <ion-toolbar>
    <ion-title class="app-title">MOVIEW</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="isLoggedIn()" (click)="logout()" class="auth-btn">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
      <ion-button *ngIf="!isLoggedIn()" routerLink="/login" class="auth-btn">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content background-color="black">
  <div class="navbar">
    <ion-label class="app-title">MOVIEW</ion-label>
    <div style="display: flex; flex: 1; ">
      <ion-searchbar mode="ios" (keyup.enter)="search($event)" [(ngModel)]="query" ></ion-searchbar>
      <ion-select [(ngModel)]="filter" interface="popover" style="display: flex; align-items: center; width: 20%;">
        <ion-select-option value="title">Title</ion-select-option>
        <ion-select-option value="genre">Genre</ion-select-option>
        <ion-select-option value="actor">Actor</ion-select-option>
      </ion-select>
    </div>
      <ion-buttons slot="end">
        <ion-button *ngIf="isLoggedIn()" (click)="logout()" class="auth-btn">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
        <ion-button *ngIf="!isLoggedIn()" routerLink="/login" class="auth-btn">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Login
        </ion-button>
      </ion-buttons>
  </div>
  
  <div #desktop_layout>
    <div id="main-background-desktop" #mainBackgroundDesktop style=" background: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.9) 100%
          ),
          url('/assets/movies/desktop/p3.jpg') !important; 
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          overflow-x: hidden;
          scroll-behavior: smooth;">
      <div class="overlay"></div>
      <section class="movie-info-desktop">
        <div class="hero-content-desktop">
          <h1 class="movie-title-desktop">
            {{ movies[currentIndex].title }}
          </h1>
          <div class="movie-meta-desktop">
            <span class="imdb-badge">‎ ★ ‎ </span>
            <span class="rating">{{ movies[currentIndex].averageRating }} (12.827) </span>
            <span>• {{ isReleased(movies[currentIndex].releaseDate) ? 'Now Playing' : 'Upcoming' }} </span>
            <span>• {{ movies[currentIndex].releaseDate }} </span>
            <span>• {{ movies[currentIndex].genre }}</span>
          </div>
          <p class="movie-desc-desktop">
            {{ movies[currentIndex].synopsis }}
            <span class="see-more">See more</span>
          </p>
          <div class="button-group-desktop">
            <a href="{{ movies[currentIndex].trailer_url }}"><button class="btn outline">Watch trailer</button></a>
            <button class="btn primary" routerLink="/detail-movie/{{ movies[currentIndex].id }}">See detail</button>
          </div>
        </div>
      </section>
      
      <section id="movie-slider">
        <!-- <div class="arrow-buttons">
          <button class="arrow-btn" (click)="prevSlide()">
            <span>&lt;</span>
          </button>
          <button class="arrow-btn" id="prevBtn" (click)="nextSlide()">
            <span>&gt;</span>
          </button>
        </div> -->
        <div class="container">
          <swiper-container #swiper_desktop effect="coverflow" grab-cursor="true" slides-per-view="auto" loop="true"
            centered-slides="true" centered-slides-bounds="true" coverflow-effect-rotate="0" coverflow-effect-stretch="0"
            coverflow-effect-depth="250" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
  
            <swiper-slide *ngFor="let movie of movies; let i = index" [attr.data-swiper-slide-index]="i">
              <img [src]="movie.poster" [alt]="movie.title" routerLink="/detail-movie/{{ movie.id }}" />
            </swiper-slide>
          </swiper-container>
        </div>  
      </section>
    </div>
  </div>
  
  <div id="mobile-view" #mobile_layout>
    <section id="movie-slider">
      <div class="container">
        <h1 class="movie-title" style="padding-bottom: 10px;">
          {{ isReleased(movies[currentIndex].releaseDate) ? 'NOW PLAYING' : 'UPCOMING' }}
        </h1>
        <swiper-container #swiper_mobile effect="coverflow" grab-cursor="true" slides-per-view="auto" loop="true"
          centered-slides="true" centered-slides-bounds="true" coverflow-effect-rotate="0" coverflow-effect-stretch="0"
          coverflow-effect-depth="250" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">

          <swiper-slide *ngFor="let movie of movies; let i = index" [attr.data-swiper-slide-index]="i">
            <img [src]="movie.poster" [alt]="movie.title" routerLink="/detail-movie/{{ movie.id }}" />
          </swiper-slide>
        </swiper-container>
      </div>
      <div class="movie-info">
        <h1 class="movie-title">
          {{ movies[currentIndex].title }}
        </h1>
        <div class="movie-detail">
          <div class="detail-item">
            <span class="value">{{ movies[currentIndex].genre }}</span>
          </div>
        </div>
        <br>
        <div class="detail-item">
          <p class="sentence">
            {{ getMovieMessage() }}
          </p>
        </div>
        <div class="detail-item">
          <p class="sentence">
            Saksikan pada tanggal <span class="value">{{ movies[currentIndex].releaseDate }}</span>!
          </p>
        </div>
      </div>
    </section>
  </div>
  <section class="movie-list">
    <h2>Top Rated Movies</h2>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of topRatedMovies; let i = index">
        <img [src]="movie.poster" [alt]="movie.title" routerLink="/detail-movie/{{ movie.id }}" />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>⭐ {{ movie.averageRating }}</p>
          <button ion-button>Detail</button>
        </div>
      </div>
    </div>
  </section>

  <section class="movie-list">
    <h2>Upcoming Movies</h2>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of upcomingMovies; let i = index">
        <img [src]="movie.poster" [alt]="movie.title" routerLink="/detail-movie/{{ movie.id }}" />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>📅 {{ movie.releaseDate }}</p>
          <button ion-button>Detail</button>
        </div>
      </div>
    </div>
  </section>
</ion-content>