<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MOVIEW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="movie-slider">
    <div class="container">
      <swiper-container #swiper
        effect="coverflow"
        grab-cursor="true"
        slides-per-view="auto"
        loop="true"
        centered-slides="true"
        centered-slides-bounds="true"
        coverflow-effect-rotate="0"
        coverflow-effect-stretch="0"
        coverflow-effect-depth="250"
        coverflow-effect-modifier="1"
        coverflow-effect-slide-shadows="true">
        <swiper-slide *ngFor="let movie of movies; let i = index" (click)="slideToIndex(i)">
          <img [src]="movie.poster" [alt]="movie.title" />
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="text" style="display: flex; justify-content: center; align-items: center;">
      <h1>Movie Title</h1>
    </div>
    
  </section>

</ion-content>