<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MOVIEW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search-movie</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex; align-items: center; padding-left:36px; padding-right: 36px; position: sticky; top: 0; width: 100%; z-index: 10; background-color: black;">
    <ion-searchbar mode="ios" (keyup.enter)="search()" [(ngModel)]="query" color="light" style="border-radius: 100px; flex: 1;"></ion-searchbar>
    <ion-select [(ngModel)]="filter" interface="popover" style="width: 80px;">
      <ion-select-option value="title">Title</ion-select-option>
      <ion-select-option value="genre">Genre</ion-select-option>
      <ion-select-option value="actor">Actor</ion-select-option>
    </ion-select>
  </div>

  <section>
    <div style="margin: 36px;margin-top:12px;">
      <ion-card *ngFor="let movie of queriedMovie" >
        <div class="responsive-flex"> 
          <img [alt]="movie.title" [src]="movie.poster" class="responsive-img" />
          <div (click)="detailMovie(movie.id)" style="max-height:300px;">
              <ion-card-header>
                <ion-card-title>{{movie.title}}</ion-card-title>
                <ion-card-subtitle>{{movie.averageRating}} <ion-icon slot="start" name="log-out-outline"></ion-icon></ion-card-subtitle>
                <ion-card-subtitle>{{movie.genre}}</ion-card-subtitle>
                <ion-card-subtitle>{{movie.director}}</ion-card-subtitle>
                <ion-card-subtitle>{{movie.releaseDate}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{movie.synopsis}}
              </ion-card-content>
            </div>
        </div>
      </ion-card>
    </div>
  </section>
</ion-content>
